
.dial {
    width: 32%;
    position: absolute;
    border-radius: 100%;
    left: 3.5%;
    top: 50%;
    transform: translateY(-50%);

    &.right {
        left: auto;
        right: 3.5%;
    }
}


